<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter xxx</title>
    <style>
        /* Basic Reset */
        html, body {
            margin: 0;
            padding: 0;
        }
        /* Style for the card containers */
        .character-card-container {
            margin-bottom: 20px;
        }

        /* Style for the chapter info containers */
        .chapter-info-container {
            margin-bottom: 20px;
        }
    </style>

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        function loadNavbar() {
            fetch('../../header_footer_scrollbar/navigationbar.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('navbar-placeholder').innerHTML = data;
                });
        }

        function loadFooter() {
            fetch('../../header_footer_scrollbar/footer.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('footer-placeholder').innerHTML = data;
                });
        }

        function loadScrollButton() {
            fetch('../../header_footer_scrollbar/scrolling_top.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('scroll-button-placeholder').innerHTML = data;
                });
        }
    </script>


</head>

<body class="text-white flex flex-col min-h-screen" style="background-color: #3b3a3a;" onload="loadNavbar(); loadFooter(); loadScrollButton();">

    <!-- Placeholder for the Navbar -->
    <div id="navbar-placeholder"></div>

    <!-- Placeholder for the Scroll to Top Button -->
    <div id="scroll-button-placeholder"></div>

    <!-- Background Rectangle -->
    <div class="relative p-4 flex flex-col items-center justify-center rounded-lg p-8 w-full max-w-7xl mx-auto mb-6 mt-12 shadow-lg" style="background-color: #616161; flex-grow: 1;">

    </div>

    <!-- Footer Placeholder -->
    <div id="footer-placeholder" style="width: 100%; flex-shrink: 0;"></div>

</body>
</html>
